.projects-section {
  position: relative;
  min-height: calc(260vh - 4.5rem);
  width: 100vw;
  background-color: var(--primary-color);
  display: grid;
  place-items: center;
  margin-top: 3rem;
}
.projects-container > h1 {
  font-size: 2.8rem;
  color: var(--secondary-color);
  text-shadow: 1px 1px 2px var(--text-color);
  border-bottom: 3px solid var(--text-color);
  padding: 0.2rem;
  margin: auto;
  z-index: 5;
}
.projects-container {
  width: 90%;
  height: 100%;
  display: grid;
  grid-template-rows: 4rem 1fr 1fr 1fr;
  row-gap: 1rem;
}
.first-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  column-gap: 1rem;
  overflow: hidden;
}
.second-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  column-gap: 1rem;
  overflow: hidden;
}
.third-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  column-gap: 1rem;
  overflow: hidden;
}
.project-card {
  background-color: var(--secondary-color);
  height: 100%;
  width: 100%;
  border-radius: 0.2rem;
  position: relative;
  z-index: 3;
  box-shadow: 0.3rem 0.3rem 1rem rgb(75, 74, 74);
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr 16rem;
  cursor: pointer;
}

.project-video {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.project-card-texts {
  background-color: var(--secondary-color);
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  z-index: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.project-texts {
  display: grid;
  place-items: center;
  width: 100%;
  gap: 0.3rem;
}
.project-card-texts > div > h1 {
  color: var(--primary-color);
  text-shadow: 2px 2px 2px var(--text-color);
  font-size: 1.5rem;
}
.project-card-texts > div > h2 {
  color: var(--primary-color);
  font-size: 1.4rem;
  font-weight: 500;
  text-shadow: 2px 2px 2px var(--text-color);
  text-align: center;
  line-height: 1.3;
}
.know-more {
  font-size: 1.2em;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em 0.7em 0.5em 0.7em;
  border-radius: 0.1em;
  outline: none;
  border: none;
  background-color: var(--text-color);
  color: var(--primary-color);
  font-weight: 550;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
  font-family: 'Josefin Sans', sans-serif;
  justify-self: start;
  transition: 0.3s ease-in-out;
}
.know-more:hover {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.project-card-links {
  display: flex;
  justify-content: flex-start;
  gap: 0.1rem;
  align-items: center;
  border-bottom: 2px solid var(--primary-color);
  padding: 0 0.2rem 0 0;
  cursor: pointer;
}
.project-card-bottom {
  display: flex;
  gap: 4rem;
  justify-content: center;
  background-color: var(--text-color);
  width: 100%;
  padding: 0.3rem 0 0.3rem 0;
  box-shadow: 2px 2px 7px rgb(0, 0, 0);
  border-radius: 0.2rem;
}
.project-card-links > i {
  color: var(--primary-color);
  font-size: 1.5rem;
  /* text-shadow: 2px 2px 2px var(--text-color); */
}
.project-card-links > span {
  color: var(--primary-color);
  font-size: 1.2rem;
  text-shadow: none;
}

@media screen and (max-width: 1110px) {
  .projects-container > h1 {
    font-size: 2.3rem;
  }
  .first-card-container,
  .second-card-container,
  .third-card-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 1rem;
    height: 182vh;
    width: 80%;
    margin: auto;
  }
  .project-card {
    grid-template-rows: 0.5fr 1.5fr;
  }
  .project-card-texts > div > h2 {
    color: var(--primary-color);
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 735px) {
  .project-card {
    grid-template-rows: 0.5fr 1fr;
  }
}
@media screen and (max-width: 670px) {
  .projects-container > h1 {
    font-size: 2rem;
  }

  .first-card-container,
  .second-card-container,
  .third-card-container {
    height: 135vh;
  }
  .project-card-texts > div > h2 {
    color: var(--primary-color);
    font-size: 1.1rem;
  }
  .project-card-texts > div > h1 {
    font-size: 1.3rem;
  }
  .know-more {
    font-size: 1.1em;
    padding: 0.4em 0.6em 0.4em 0.6em;
  }
}
@media screen and (max-width: 560px) {
  .first-card-container,
  .second-card-container,
  .third-card-container {
    width: 96%;
  }
  .project-card-bottom {
    display: flex;
    gap: 1.5rem;
  }
  .project-card-links > i {
    font-size: 1.3rem;
  }
  .project-card-links > span {
    color: var(--primary-color);
    font-size: 1.1rem;
    text-shadow: none;
  }
}
@media screen and (max-width: 460px) {
}
