.blinkchat-modal{
  display: grid;
  place-items: center;
  position: fixed;
  background-color: var(--secondary-color);
  width: 50vw;
  height: 60vh;
  border-radius: 0.5rem;
  top: 50%;
  left: -50%;
  transform: translate(-50%,-50%);
  z-index: 1001;
  transition: 0.3s ease-in-out;
}
.blinkchat-modal-container{
  width: 80%;
  display: grid;
  gap: 1rem;
}
.blinkchat-features{
  display: grid;
  place-items: start;
  gap: 1rem;
}
.blinkchat-features>h2, .blinkchat-credentials>h2{
  color: var(--primary-color);
  text-shadow: 1px 1px 1px rgb(0, 0,0);
  font-size: 1.6rem;
}
@media screen and (max-width:1200px){
 
  .blinkchat-features>h2, .blinkchat-credentials>h2{
    font-size: 1.4rem;
  }
}
@media screen and (max-width:700px){
  .blinkchat-features>h2, .blinkchat-credentials>h2{
    font-size: 1.2rem;
  }
  .blinkchat-modal{
    width: 55vw;
  }
}
@media screen and (max-width:550px){
  .blinkchat-features>h2, .blinkchat-credentials>h2{
    font-size: 1.1rem;
  }
  .blinkchat-modal-container{
    width: 85%;
  
  }
  .blinkchat-modal{
    width: 70vw;
  }
}
@media screen and (max-width:435px){
  .blinkchat-features>h2, .blinkchat-credentials>h2{
    font-size: 1.1rem;
  }
 
}
.ri-close-line{
  position: absolute;
  top: 2%;
  right: 2%;
  color: var(--primary-color);
  font-size: 3rem;
  text-shadow: 2px 2px 2px rgb(0, 0,0);
  cursor: pointer;
}
.blinkchat-backdrop{
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  left: -110%;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1000;
  /* transition: 0.3s ease-in-out; */
}